<link rel="import"  href="https://polygit.org/polymer+2.0.0-rc.2/components/polymer/polymer-element.html">
<link rel="import" href="./../navigation/navigation-element.html">

<dom-module id="header-element">

  <template>
    
    <!-- scoped CSS for this element -->
    <style>
      h1 {
        color: red;  
      }
    </style>

    <!-- Add some data binding -->
    <h1>{{Title}}</h1>
    <navigation-element></navigation-element>
  </template>

  <script src="./header-element.js"></script>

</dom-module>