<link rel="import"  href="https://polygit.org/polymer+2.0.0-rc.2/components/polymer/polymer-element.html">

<dom-module id="attribute-element">

  <template>
    
    <!-- scoped CSS for this element -->
    <style>
      h1 {
        color: green;  
      }
    </style>

    <!-- This data comes from the attribute being passed to the element -->
    <h1>[[name]]</h1>
  </template>

  <script>
    class AttributeElement extends Polymer.Element {
        
        static get is() { 
            return "attribute-element"; 
        }

        constructor() {
            super();       
        }

        // We can configure to read in Props here. THis declares a default.
        static get properties() {
            return {
                name: {
                    type: String,
                    value: "INSERT NAME HERE",
                }
            };
        }
    }
    customElements.define(AttributeElement.is, AttributeElement);
  </script>

</dom-module>


