<link rel="import"  href="https://polygit.org/polymer+2.0.0-rc.2/components/polymer/polymer-element.html">

<dom-module id="header-element">

  <template>
    
    <!-- scoped CSS for this element -->
    <style>
      h1 {
        color: red;  
      }
    </style>

    <!-- Add some data binding -->
    <h1>{{Title}}</h1>
  </template>

  <script>
    class HeaderElement extends Polymer.Element {
        
        static get is() { 
            return "header-element"; 
        }

        constructor() {
            super();
            this.Title = "Creating some custom elements with Polymer 2.0";
        }
    }
    customElements.define(HeaderElement.is, HeaderElement);
  </script>

</dom-module>