<link rel="import"  href="https://polygit.org/polymer+2.0.0-rc.2/components/polymer/polymer-element.html">

<dom-module id="header-element">

  <template>
    <!-- scoped CSS for this element -->
    <style>
      p {
        color: red;  
      }
    </style>
    <p>Welcome to the Polymer Playground.</p>
  </template>

  <script>
    class DomElement extends Polymer.Element {
      static get is() { return "header-element"; }
    }
    customElements.define(DomElement.is, DomElement);
  </script>

</dom-module>